
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Surat Perpisahan</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Selamat Datang</h1>
    <form action="/letter" method="POST">
      <input type="text" name="name" placeholder="Nama" required><br>
      <input type="date" name="dob" required><br>
      <button type="submit">Buka Surat</button>
    </form>
  </div>
</body>
</html>
